.addAnswer{
    padding:25px;
    display: flex;
    width:70%;
    flex-direction:column;
    gap:10px;
    font-size: 1rem;
    font-weight: lighter;
    color: red;


}

.addAnswer-form{
    display: flex;
    flex-direction: column;
    gap:5px;
    justify-content: center;
    align-items: center;
    
}

.addAnswer-form > input {
    padding:10px;
    border-radius: 10px;
    width: 100%;

}

.addAnswer-form > button{
    width: 70px;
    height: 40px;
    background-color: rgba(11, 186, 11, 0.895);
    font-weight: bold;
    text-shadow: 1px 1px 10px;
    border-radius: 10px;

}


.choose-answer{
    display:flex;
    padding-top:250px;
}
