.feed{
    display:flex;
    flex-direction: column;
    flex-basis: 60%;
    flex-grow:1;
    padding:20px;
    background-color: white;
}

.feed-single{
    border-bottom: 2px solid black;
    padding:10px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px -2px;
    background: rgb(227, 223, 223);
    margin:10px 0;
    border-radius: 20px;

}
.feed-single:hover{
    background: white;
}

.feed-single-row1{
    display:flex;
    justify-content: flex-start;
    border-bottom: 1px dotted gray;
}
.feed-profile-pic > img{
    height: 50px;
    width:50px;
    border-radius: 50%;
}
.feed-question{
    flex-grow: 1;
    margin-left:15px;
    margin-top:10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;


}
.feed-single-row2{
    display:flex;
    justify-content: space-between;
    border-bottom: 1px dotted gray;
    font-size: 0.8em;
    color: black;
}
.no-answers-text{
    text-align: center;
}

.answers{
    padding:10px;
    margin:15px;
    background-color: rgba(216, 74, 42, 0.497);
    border-radius: 10px;
}

.answer{
    border:1px dotted gray;
    margin:5px 0;
    padding:5px;
    border-radius: 10px;
    background-color: rgb(209, 207, 207);
}
.answerDetails{

    display:flex;
    justify-content:space-between;
    font-size: 0.8em;

}
.feed-add-answer-btns{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    
}

.feed-add-answer-btn {

    background: rgba(17, 239, 9, 0.512);
    text-decoration: none;
    padding:8px;
    border-radius: 5px;
    border:none;
    color: black;
    font-weight: bolder;
    cursor:pointer;
    width: fit-content;
}
.feed-show-answer-btn{
    background: rgba(233, 233, 217, 0.512);
    text-decoration: none;
    padding:8px;
    border-radius: 5px;
    border:none;
    color: black;
    font-weight: bolder;
    cursor:pointer;
    width: fit-content;

}
.feed-hide-answer-btn{
    background: rgba(233, 233, 217, 0.512);
    text-decoration: none;
    padding:3px 10px 0;

    border:1px solid black;
    color: black;
    font-weight: bolder;
    cursor:pointer;
    width: fit-content;


}

.feed-add-answer-btn:hover  {
    background: rgb(20, 221, 20);

    color: black;
}
.feed-show-answer-btn:hover ,.feed-hide-answer-btn:hover{
    background-color: white;

}
.question-img{
    display: grid;
    place-content: center;
}

.question-img-url{
    max-height:300px;
    aspect-ratio: 4/3;
    
}