*{
    box-sizing: border-box;
}

nav{

    display: flex;
    height:10vh;
    justify-content: space-between;
    background: whitesmoke;
    gap:5px;
    padding: 5px;
    border-bottom: 2px solid gray;
    max-width: 100vw;





}



.nav-bar{
    height: 100%;
    position: sticky;
    top:0;
       

}

.logo{
    width: 120px;
    height: 100%;
}

.nav-bar-btns{
    display:flex;
    gap:5px;

    
}

.nav-btns {
    width: 100%;
    padding:10px;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.313);
    border: none;
    border-radius: 5px;
    color:black;
    cursor: pointer;
    font-weight: bold;



}


.nav-btns:hover ,.link:hover {
     background-color: whitesmoke;
     color:black;
}



.link{
    text-decoration: none;
    color:black;
    height:100%;

    
}

.navInput{
    flex-grow: 1;
    display: flex;
    background-color: white;
    border-radius: 5px;
    
}

.navInput > input {
    border-radius: 5px;
    border: none;
    margin:5px;
    padding:5px;
    flex-grow:1;
    font-size: 1.2em;
    flex-basis: 90%;

}

.icon{

    font-size: 2rem;
    height:80%;



}

