.questionsList{
    padding:20px;

    flex-basis: 25%;
    height: 600px;
    overflow-y: auto;
    position: sticky;
    top:80px;
    right:0;
    border-bottom: 2px solid black;






}
.question-list{
    list-style: number;
    box-sizing: border-box;
    padding:10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index:8;
}

.question-list >li {
    line-height: 30px;
}