.questionsList{
    padding:20px;

    flex-basis: 25%;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    position: sticky;
    top:80px;
    right:0;
    padding:20px;






}
.question-list{
    list-style: number;
    box-sizing: border-box;
    padding:10px;
    font-family:'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index:8;
}

.question-list >li {
    line-height: 30px;
}